@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #ffffff;
}
body::-webkit-scrollbar {
  width: 14px;
}
body::-webkit-scrollbar-track {
  background-color: #cfc6e1;
}
body::-webkit-scrollbar-thumb {
  background-color: #675e78;
  border-radius: 6px;
}
.ferstPage {
  width: 100%;
  box-sizing: border-box;
  height: 1000px;
  background-size: cover;
  background-image: url("./imges/background.svg");
}
.header {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.41) 0%, rgba(0, 0, 0, 0.00) 100%);
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  padding: 12px 47px;
}
.logo {
  display: flex;
  gap: 10px;
  align-items: center;
}
.logoText {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.menu {
  display: flex;
  gap: 50px;
}
.menuItem {
  color: #d5c7f0;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  transition: 0.35s;
}
.menuItem:hover {
  color: #897ca3;
}
.author {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.ferstPageTextTitle {
  color: #fff;
  text-shadow: 1px 1px 27.6px #000;
  font-family: Inter;
  font-size: 128px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.ferstPageText {
  position: relative;
  top: 450px;
  right: 120px;
  display: flex;
  flex-direction: column;
  align-items: end;
}
.ferstPageTextSubTitle {
  color: #fff;
  text-shadow: 1px 1px 24.9px #000;
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.content{
}
.contentItem {
  width: 100%;
  box-sizing: border-box;
  padding: 90px;
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 120px;
}
.contentItemLeft {
  width: 1000px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.contentItemHeader {
  text-transform: uppercase;
  color: #250a57;
  font-family: Inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.contentItemTextItem {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.contentItemTextItemTitle {
  display: flex;
  align-items: center;
  gap: 16px;
}
.contentItemTextItemTitlePoint {
  border-radius: 20px;
  background: #340e7d;
  width: 30px;
  height: 6px;
}
.contentItemTextItemTitleText {
  color: #340e7d;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.contentItemTextItemText {
  padding-left: 120px;
  color: #534769;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 140% */
}
.contentItemImg{
  margin-top: 120px;
}
.i2{
  background: #351478;
}
.cw{
  color:#FFFFFF;
}
.bb{
  background:#78A2FF;
}
.cb{
  color:#78A2FF;
}
.cg{
  color:#D4CCE2;
}
.w900{
  width: 900px;
}
